Source: xtomp
Section: net
Priority: optional
Maintainer: teknopaul <me@teknopaul.com>

Package: xtomp
Version: 0.2-0ppa1
Standards-Version: 4.0.0
Architecture: all
Homepage: http://xtomp.tp23.org
Description: Message Broker with a STOMP API
Depends: libaio1
Provides: xtomp
Installed-Size: @SIZE@
Essential: no
Build-Depends: debhelper (>=9)
Pre-Depends: 
Recommends: 
Suggests: 
Conflicts: 
Replaces: 




